@import "_variables.scss";
// 2. Import default variables and available mixins.
@import "../../../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../../../node_modules/uikit/src/scss/mixins-theme.scss";
// 3. Your custom mixin overwrites.
@mixin hook-card() {
  color: #000;
}
// 4. Import UIkit.
@import "../../../../node_modules/uikit/src/scss/uikit-theme.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700,800|Lato:300,400,700,900');


html {
  font-size: 1em;
  background-color: hsla(185, 30%, 86%, 0.16);

}
body, a, h1,h2,h3,h4,h5,h6{
  font-family: 'Dosis', sans-serif;
  font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #000;
}

h1 {
  font-size: 64px !important;
}

.dosis {
  font-family: 'Dosis', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

hr {
  border-top-color: hsla(0, 0%, 0%, 0.16) !important;
}

.content {
  $margin-content: 4rem;
  margin-top: $margin-content;
  margin-left: $margin-content;
  margin-right: $margin-content;
}

.task {
  width: 100%;
  height: 100%;
  border: solid black;
}

.box {
  position: relative;
  width: 100%;
  /* desired width */
}

.box:after {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}



.turquoise {
  background: #91C2C6;
}

.spacer {
  height: 7rem;
}

.circle {
  position: relative;
  width: 85px;
  height: 85px;
  margin: 20px auto;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;

    &.circleFill {
      z-index: 1;
      stroke-dasharray: 322;
      stroke-dashoffset: 322;
      transition: all 3s;
      transform: rotate(-90deg);
    }
  }
}


#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1em;
}
#svg #bar {
  stroke: #FF9F1E;
}
#cont {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  box-shadow: 0 0 1em black;
  border-radius: 100%;
  position: relative;
}
#cont:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 1em black;
  content: attr(data-pct)"%";
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  text-shadow: 0 0 0.5em black;
}



.u-absoluteCenter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.u-flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.u-offscreen {
  position: absolute;
  left: -999em;
}
.demo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.demo :first-child {
  margin-bottom: 20px;
}
.progress {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.progress__meter,
.progress__value {
  fill: none;
}
.progress__meter {
  stroke: #e6e6e6;
}
.progress__value {
  stroke: #f77a52;
  stroke-linecap: round;
}




.slider-enter-active, .slider-leave-active {
  transition: transform 3s;
}

.slider-enter, .slider-leave-to {
  transform: translateX(-100%);
}

.slider-enter-to, .slider-leave {
  transform: translateX(0);
}


.nav-circle {
  position: relative !important;
  height: 4rem !important;
  width: 4rem !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border: solid 1px white;
  @include box-shadow(0px,5px,13px,rgba(0, 0, 0, 0.25),false);
  @include transition(all,.3s, ease)
}

.nav-circle:active {
  @include box-shadow(0px,5px,13px,rgba(0, 0, 0, 0.25),true);
  @include transition(all,.3s, ease)
}

.nav-circle .content {
  position: absolute;
  top: 50%;
  left: 50;
  transform: translate(-50%, -50%);
}


.circle {
    font-size: 0.889em;
    position: relative;
    text-align: center;
    text-transform: lowercase;
    border-radius: 50%;
    @include box-shadow(0px,5px,13px,rgba(0, 0, 0, 0.25),false);
    @include box-shadow(0px,5px,13px,rgba(0, 0, 0, 0),true);
    @include transition(all,0.3s, ease);

    a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &:hover {
        // box-shadow: 0 0 0 7px #fff;
        @include box-shadow(0px,5px,13px,rgba(0, 0, 0, 0),false);
        @include box-shadow(0px,5px,13px,rgba(0, 0, 0, 0.25),true);

    }
}

.profile-pic {
  height: 6rem; /* 26/16 */
  width: 6rem; /* 26/16 */
  background: red;
  margin-right: 0.5rem;
}

.label {
  display: inline-block;
  padding: 0 10px;
  line-height: 1.5;
  font-size: 0.875rem;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2px;
}

.fg-z {
  z-index: 9999;
}

.bg-z {
  z-index: 0;
}

.help-circle {
    height: 40px !important;
    width: 40px !important;
    line-height: 40px;
    background: #fff;
    margin-right: 0.5rem;
    border: 1px solid rgba(#EAE9EA, 1);
}
